@font-face {
  font-family: "Open Sans";
  src: url(../Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: "Amatic SC";
  src: url(../Fonts/Amatic_SC/AmaticSC-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Amatic SC";
  src: url(../Fonts/Amatic_SC/AmaticSC-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(../Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #1e1e1e;
}
.navbar {
  box-shadow: 2px 4px 7px lightgrey;
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.navbar .container .list {
  width: 25%;
}
.navbar .container .list ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 2rem 0;
}

.navbar .container .list ul li {
  list-style-type: none;
}
.navbar .container .list ul li a {
  color: #7f7f90;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}
.navbar .container .list ul li a#active {
  color: #000;
}

.navbar .container .list ul li a::after {
  content: "";
  width: 0%;
  height: 17px;
  position: absolute;
  top: 40%;
  left: 0;
  background-color: transparent;
  border-bottom: 3px solid #ce1212;
  transition: width 0.5s;
}

.navbar .container .list ul li a#active::after,
.navbar .container .list ul li a:hover::after {
  width: 100%;
}

.navbar .container .list ul li a:hover {
  color: #000;
}
.navbar .logo a {
  color: #212529;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
}
.navbar .logo .dot {
  color: #ce1212;
}

.navbar .mode a {
  font-size: 25px;
  color: #212529;
  text-decoration: none;
}

.navbar .menu {
  display: none;
}

.navbar .menu a {
  font-size: 25px;
  color: #212529;
  text-decoration: none;
}

.header {
  background-color: #eeeeee;
  margin-top: 5.5rem;
}

.header .container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
}
.header .plate {
  flex-basis: 40%;
  margin: 3rem 0;
  /* box-shadow: 2px 4px 7px grey; */
}

.header .plate img {
  width: 100%;
}

.header .content {
  flex-basis: 40%;
}

.header .content h2 {
  color: #37373f;
  font-family: "Amatic SC";
  font-size: 65px;
  font-weight: 700;
}

.header .content p {
  color: #4f4f5a;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  padding: 2rem 0;
}
.header .content .book {
  font-family: "Open Sans";
  color: white;
  font-size: 15px;
  background-color: #ce1212;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 0 2rem 2rem;
  transition: background-color 0.5s;
}

.header .content .watch {
  font-family: "Open Sans";
  color: #212529;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: color 0.5s;
}

.header .content .watch span {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 50%;
  position: relative;
}

.header .content .semi {
  width: 4rem;
  height: 4rem;
  background-image: linear-gradient(to right, #ce1212 50%, transparent 0%);
  position: absolute;
  left: 5px;
  border-radius: 50%;
}

.header .content .buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.header .content .watch:hover {
  color: #ce1212;
}

.header .content .book:hover,
button:hover {
  background-color: #e61414;
}

.header .plate:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.chefs .heading .chefs-span,
.gallery .heading .gallery-span,
.contact .heading .contact-span {
  font-family: "Inter";
  color: #7f7f90;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  display: block;
}

:is(.chefs, .gallery, .contact) .heading h2 {
  font-family: "Amatic SC";
  font-size: 50px;
  font-weight: 400;
  color: #212529;
  text-align: center;
}

:is(.chefs, .gallery, .contact) .heading h2 span {
  color: #ce1212;
}

.chefs .heading {
  position: relative;
  top: 80px;
}

.chefs .chef-info {
  display: flex;
  position: relative;
  top: 120px;
  width: 87%;
  justify-content: space-around;
  margin: auto;
}
.chefs .chef-info .inner {
  padding: 1rem;
  width: 33.3333%;
}

.chefs .chef-info .item {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 2px 4px 7px lightgrey;
  transition: scale 0.4s;
  position: relative;
}

.chefs .chef-info .item:hover {
  scale: 1.1;
}

.chefs .chef-info .item img {
  width: 100%;
}

.chefs .chef-info .item h3 {
  font-size: 18px;
  color: #212529;
  font-family: "Inter";
  font-weight: 700;
  margin: 0.5rem;
}

.chefs .chef-info .item span {
  font-size: 14px;
  color: #7f7f90;
  font-family: "Open Sans";
  font-weight: 400;
}

.chefs .chef-info .item p {
  font-size: 15px;
  color: #7f7f90;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: italic;
  margin: 1rem 2rem 2rem;
}

.chefs .chef-info .item .social {
  position: absolute;
  right: -15%;
  top: 5%;
  background-color: #ffffff50;
  padding: 0 1rem;
  transition: right 0.4s;
  border-radius: 5px;
}

.chefs .chef-info .item:hover .social {
  right: 3%;
  transition-delay: 0.4s;
}

.chefs .chef-info .item .social a:hover {
  color: #434146;
}

.chefs .chef-info .item a {
  display: block;
  text-decoration: none;
  color: #7f7f90;
  margin: 20px 0;
  transition: all 0.3s;
}

.gallery {
  background-color: #eeeeee;
  position: relative;
  top: 180px;
}

.gallery .heading {
  padding-top: 100px;
}

.gallery .meals {
  columns: 3 300px;
  column-gap: 15px;
  width: 85%;
  margin: 40px auto;
  padding-bottom: 100px;
}

.gallery .meals .item img {
  width: 100%;
  display: block;
  transition: scale 0.5s;
}

.gallery .meals .inner {
  border: white 5px solid;
  margin-bottom: 15px;
  break-inside: avoid;
  position: relative;
  overflow: hidden;
}

.gallery .meals .inner .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(110%);
  transition: transform 0.5s;
}
.gallery .meals .inner:hover .background {
  transform: translateY(0%);
}
.gallery .meals .inner:hover img {
  scale: 1.1;
}

.gallery .meals .inner .background h2 {
  color: white;
  font-size: 24px;
  font-family: "Inter";
  font-weight: 700;
  text-align: center;
  margin: 0 10px;
}

.gallery .meals .inner .background p {
  color: #ddd;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin: 0 10px;
}

.contact .heading {
  margin-top: 300px;
}

.contact .container {
  width: 85%;
  margin: auto;
}
.contact .info {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.contact .info .item {
  flex-basis: calc((100% - 10px) / 2);
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  align-items: center;
}

.contact .info .item .icon {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ce1212;
  border-radius: 50%;
}

.contact .info .item .icon i {
  color: white;
  font-size: 18px;
}

.contact .info .item .content {
  width: fit-content;
  display: inline-flex;
  flex-direction: column;
  margin-left: 20px;
}

.contact .info .item .content h3 {
  font-family: "Inter";
  color: #7d7d7d;
  font-size: 20px;
  font-weight: 700;
}
.contact .info .item .content :is(a, p) {
  font-size: 1rem;
  color: #212529;
  font-family: "Open Sans";
  text-decoration: none;
}
textarea,
input {
  font-size: 0.85rem;
  color: #212529;
  font-family: "Open Sans";
}
.contact .form {
  box-shadow: 0px 0px 7px lightgray;
  overflow: auto;
  margin-top: 20px;
}
.contact form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
}
input[placeholder="Your Name"],
[placeholder="Your Email"] {
  width: calc((100% - 10px) / 2);
  outline: none;
  border: 2px solid #e8e3e3;
  padding: 20px;
  transition: 0.7s;
}
input[placeholder="Subject"] {
  width: 100%;
  outline: none;
  border: 2px solid #e8e3e3;
  transition: 0.7s;
  padding: 20px;
}
textarea {
  width: 100%;
  outline: none;
  border: 2px solid #e8e3e3;
  padding: 20px;
  transition: 0.7s;
}
button {
  border-radius: 2rem;
  transition: background-color 0.5s;
  font-family: "Open Sans";
  color: white;
  font-size: 15px;
  background-color: #ce1212;
  padding: 0.75rem 2rem;
  border: none;
  margin: 20px auto;
  display: block;
}
.contact input:focus,
textarea:focus {
  border: 2px solid #ce1212;
}

iframe {
  margin: 20px 0;
}

.footer {
  margin-top: 60px;
  background-color: #000;
  overflow: auto;
}
.footer .container {
  width: 85%;
  margin: 40px auto;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.footer .social-media h2 {
  font-family: "Open Sans";
  color: white;
  font-weight: 700;
  font-size: 30px;
}
.footer .dot {
  color: #ce1212;
}
.footer .social-media img {
  width: 100%;
}
.footer .social-media .image {
  width: 40px;
}
.footer .social-media {
  width: 38%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.footer p {
  font-family: "Open Sans";
  color: white;
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 10px;
}
.footer h3 {
  font-family: "Inter";
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.footer .social-media h3 {
  text-align: center;
  flex-basis: 100%;
  border-bottom: 2px #7d7d7d solid;
}
.footer .social-media .icons {
  display: flex;
  width: 100%;
  padding: 15px 0;
}
.footer .social-media .icons a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  flex-basis: 25%;
  text-align: center;
}
.footer .subscribe button {
  border-radius: 0;
  display: inline;
  padding: 10px;
}
.footer .subscribe input {
  padding: 10px;
  width: 80%;
  outline: none;
}
.footer .subscribe ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}
.footer .subscribe a {
  text-decoration: none;
  color: white;
}
.footer .subscribe li {
  flex-basis: calc((100% - 20px) / 2);
  padding: 5px 0;
  font-size: 1rem;
  font-family: "Open Sans";
  font-weight: 400;
  list-style-type: none;
  transition: all 0.5s;
  padding: 5px;
}
.footer .subscribe li:hover {
  background-color: #222222;
  transform: translateX(5px);
}
.footer .touch {
  width: 35%;
}
.footer .touch i {
  color: #ce1212;
  font-size: 22px;
  padding: 10px;
}
.footer .touch span,
.footer .touch a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: "Open Sans";
}
.footer .touch li {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .navbar .menu {
    display: inline-flex;
  }
  .navbar .mode {
    display: inline-flex;
    margin: 2rem;
    gap: 20px;
  }
  .navbar .list {
    display: none;
  }
  .footer .container {
    flex-wrap: wrap;
  }
  .footer .subscribe {
    order: 1;
  }
  .footer .social-media,
  .footer .touch {
    width: calc((100% - 20px) / 2);
  }
}

@media screen and (max-width: 995px) {
  .header .plate,
  .header .content {
    flex-basis: 100%;
    text-align: center;
  }
  .header .content .buttons {
    justify-content: center;
    width: 100%;
  }

  .chefs .chef-info .inner {
    width: 50%;
  }
  .chefs .chef-info {
    flex-wrap: wrap;
    justify-content: flex-start;
    /* width: 82%; */
  }
  input[placeholder="Your Name"],
  [placeholder="Your Email"] {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .chefs .chef-info .inner {
    width: 100%;
  }
  .contact .info .item {
    flex-basis: 100%;
  }
  .footer .subscribe {
    order: 0;
  }
  .footer .social-media,
  .footer .touch {
    width: 100%;
  }
}
